@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #f5f8ff;
}

/* ------------shared items--------- */
.btn{
    background-color: #4E47FF;
    color: white;
    padding: 10px 22px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover {
    background-color: #45a049;
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
.container{
    max-width: 1140px;
    padding: 5px;
    margin: 0 auto;
}

.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section{
    padding: 90px 0;
}


/* -----------Header style start hare------ */
header{
    background-image: url(Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 700px;
}
nav {
    padding: 22px 0;
}
.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px 0;
    width: 525px;
}
.hero-content-wrap h1 {
    font-weight: 500;
    font-size: 43px;
    color: #252432;
    text-align: center;
}
.hero-content-wrap button{
    margin-top: 37px;
}
/* -------- Main  start here (Action section) ---- */
.action-content{
    max-width: 520px;
}
.action-content h1 {
    font-size: 34px;
    color: #252432;
}

.action-content p {font-size: 18px;color: #252432;padding: 21px 162px 21px 0;}
.action-img{
    max-width: 400px;
}
.action-img img{
    border-radius: 40px;
}
/* -----productive-user start here --------- */
.productive-user{
    background-color: #dce5ff;
    border-radius: 23px;
    padding: 50px 0;
}
.productive-user-wrap{
    max-width: 850px;
    margin: auto;
}
.productive-user-title {
    color: #252432;
    text-align: center;
    margin-bottom: 28px;
    font-size: 33px;
}
.productive-user-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.productive-user-box{
    max-width: 180px;
}
.productive-user-box h1{
    color: #4e47ff;
    font-size: 70px;
    font-family: sans-serif !important;
}
.productive-user-box span{
    color: #6e727f;
    text-align: center;
}
/* ----------- (review) start here-------- */
h1.review-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 55px;
}
.review-box{
    max-width: 360px;
    background-color: white;
    border-radius: 9px;
    padding: 24px;
    box-sizing: border-box;
    border: 0.5px solid #ededed;
}
.review-box h3 {
    padding: 13px 0;
}
.review-person {
    display: flex;
    margin-top: 20px;
}
.review-person-img img {
    border-radius: 50%;
    margin-right: 11px;
}
.review-person-review-Text span {
    font-family: sans-serif;
    color: #6e727f;
    font-size: 14px;
}
.review-person-name h4 {color: #6e727f;}

/* (ready webflow section) start here */
#ready-webflow{
    border-radius: 20px;
}
.ready-webflow-wrap {
    background-color: white;
    text-align: center;
    padding: 81px 150px;
}
.ready-webflow-wrap h1 {
    font-size: 49px;
}
.ready-webflow-wrap p {
    padding: 23px 0 17px 0;
    font-size: 15px;
}
.ready-webflow-wrap button {
    margin-bottom: 33px;
}
.ready-webflow-wrap img {
    border-radius: 41px;
}
